<%- include('../partials/header')%>

   

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Series</h2>
            <p class="lead">Uma headline aqui</p>
            <ul>
              <% series.forEach( serie  =>  { %>
                <li> <%= serie.name %> <%= serie.status %> </li>
                
              <%  })  %>
             
            </ul>
          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/footer')%>