<%- include('../partials/header')%>

   

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Series</h2>
            <p class="lead">Todas as series<a class="btn btn-info" href="/series/nova">Nova serie</a></p>
            <table class="table table-hover">
              <% series.forEach( serie  =>  { %>
                   <tr>
                     <td>
                      <%= serie.name %>
                    </td> 
                     <td>
                      <%= serie.status %>
                    </td>  
                   </tr>
                
              <%  })  %>
             
              </table>
          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/footer')%>