<%- include('./partials/header')%>

    <header class="bg-info text-white">
      <div class="container text-center">
        <h1><img src="/img/logo.png" alt="Minhas Séries" /></h1>
        <p class="lead">Gerencie suas séries com Express + Mongo + NodeJS</p>
      </div>
    </header>



    <%- include('./partials/footer')%>