<%- include('./partials/header')%>

   

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Sobre</h2>
            <p class="lead">Uma headline aqui</p>
            <ul>
              <li>Uma lista aqui</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <%- include('./partials/footer')%>